@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gsq40e');
  src:  url('fonts/icomoon.eot?gsq40e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gsq40e') format('truetype'),
    url('fonts/icomoon.woff?gsq40e') format('woff'),
    url('fonts/icomoon.svg?gsq40e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
  content: "\e99f";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
